:root {
  /* Use this color as the background for your dark-on-light designs, or the 
  text color of an inverted design. */
  --lightshade: #F0F5F1;
  --lightshade-darker: #D7DBD8;
  --lightshade-lighter: #ffffff;
  /* Accent colors can be used to bring attention to design elements by 
  contrasting with the rest of the palette. */
  --lightaccent: #2A95BF;
  --lightaccent-darker: #38C5FF;
  --lightaccent-lighter: #1C6380;
  /* This color should be eye-catching but not harsh. Can be liberally applied 
  to your layout as the main identity. */
  --primary: #FFF41E;
  --primary-darker: #BFB717;
  --primary-lighter: #FFFF05;
  /* Another accent color to consider. Not all colors have to be used sometimes 
  a simple color scheme works best. */
  --darkaccent: rgb(0,117,154);
  --darkaccent-darker: rgb(0,54,75);
  --darkaccent-lighter: rgb(0,200,200);
  /* Use as the text color for dark-on-light designs, or as the background for 
  inverted designs. */
  --darkshade: #202C3A;
  --darkshade-darker: #1B2530;
  --darkshade-lighter: #4A6787;
  /* Other UI Styles and colors */
  --grey: #cdcdc0;
  --success: #88b04b;
  --warning: #ff6c2f;
  --danger: #ba0020;
  --deepboxshadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(54, 19, 19, 0.2);
  --shallowboxshadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --font-family: 'EB Garamond', serif;
  --headline-font-family: 'EB Garamond', serif;
  --mono-font-family: 'Roboto Mono', monospace;
  --maxwidth: 1000px;
  --borderradius: 5px;

  /* scale for 1.2 */
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.44rem;
  --font-size-4: 1.728rem;
  --font-size-5: 2.074rem;
  --font-size-6: 2.488rem;
  /* scale for 1.2 */
  --line-height-1: 1.2rem;
  --line-height-2: 1.44rem;
  --line-height-3: 1.728rem;
  --line-height-4: 2.074rem;
  --line-height-5: 2.488rem;
  --line-height-6: 2.986rem;
}

// Base styles
html {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--darkshade);
}
p {
  line-height: var(--line-height-1);
}
h1 {
  line-height: var(--line-height-6);
  font-size: var(--font-size-6);
}
h2 {
  line-height: var(--line-height-5);
  font-size: var(--font-size-5);
}
h3 {
  line-height: var(--line-height-4);
  font-size: var(--font-size-4);
}
h4 {
  line-height: var(--line-height-3);
  font-size: var(--font-size-3);
}
h5 {
  line-height: var(--line-height-2);
  font-size: var(--font-size-2);
}
h6 {
  line-height: var(--line-height-1);
  font-size: var(--font-size-1);
}
pre {
  overflow: scroll;
  background: var(--darkaccent-lighter);
  padding: 1rem;
  border-radius: var(--borderradius);
  color: var(--darkshade);
}
a {
  color: var(--darkaccent);
}
.calendly-overlay {
  background-color: rgba(31,31,31,0.8) !important;
}

code {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}